#classes{
 
    background:linear-gradient(-120deg, rgb(246,246,246) 50%, white 50%);
    min-height: 85vh;
    
}

#classes .container {
    padding-top: 8vh;
}

#classes h1 {
    color: rgb(58, 80, 148);
    font-weight: 700;
}

#classes .class-text h1{
    font-weight: 700;
    color: rgb(70,70,70);
}

#classes .class-text h3{
    font-weight: 600;
    color: rgb(70,70,70);
    font-size: 30px;
}

#classes .divider{
    border: 5px solid orange;
    width: 10%;
    border-radius: 5px;
}
 #classes .buttons a {
    text-decoration: none;
    background-color: rgb(58, 80, 148);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    
 }

 #classes .buttons a:hover{
    background-color: rgb(240,145,18);
 }




