#info{
    background-color: rgb(242, 248, 254);
    min-height: 30vh;
}

#info .box {
  
    background-color: white;
    
    color: black;
    font-weight: 800;
    line-height: 3;
    font-size: 18px;
    
} 

#info .number{
    color: rgb(58, 80, 148);
    font-weight: 800;
    font-size: 35px;
}

